doctype

html
    head
        <meta charset="utf-8">

        title League Tiltalyzer 
        <meta name="description" content="League of Tilt">
        <meta name="author" content="Sadaf Chowdhury">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="nodeJSTest.js" type="text/javascript"></script>

body
    
    p Summoner ID
    
    form(action='/', method='post')
        input(type='text', name='username')    
        input(type="submit", value="Submit", placeholder="Enter your League User Name")
    
    <br>Win Rate over the past 3 games:<br/>
    
    <br>Average KDA over the past 3 games: <br/>
    <br>Average wards per game over the past 3 games: <br/>
    <br>Average creep score per minute to ten minutes over 3 games: <br/>
    
    
    <br>Are you tilted? According to the tiltalyzer you are: <br/>
        
    p=test

    
