<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>League Tiltalyzer</title>
        <meta name="description" content="League of Tilt">
        <meta name="author" content="Sadaf Chowdhury">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="nodeJSTest.js" type="text/javascript"></script>

    </head>

<body>
    
    <p>Summoner ID<p/>    
    <br>Are you tilted? According to the tiltalyzer you are: <br/><span id="test"></span> 

    
</body>
</html>